<!--Custom users header, overriding core header -->

<header class="source_header">

    <div class="source_col-main">
        <div class="source_col source_col__23">
            <a class="source_logo" href="/" title="Source"></a>

            <div class="source_header_nav">
                <a class="source_header_nav_a" href="#">Навигация</a>
                <div class="source_header_nav_cnt source_nav">
                    <ul class="source_nav_ul">
                        <li><a class="source_a_bl" href="/">Главная</a></li>
	                    <li><a class="source_a_bl" href="/examples">Документация</a></li>
	                    <li><a class="source_a_bl" href="/examples/base-en">Basic engine documentation</a></li>
	                    <li><a class="source_a_bl" href="/examples/base">Основная документация по движку</a></li>
                        <li><a class="source_a_bl" href="/examples/inner-page">Документация по внутренней странице</a></li>
                        <li><a class="source_a_bl" href="/examples/starting">Стартовый шаблон внутренней</a></li>
                    </ul>
                </div>
            </div>

	        <div class="source_header_pro">
		        <div class="source_header_i source_header_pro_tw">
			        <a href="https://twitter.com/sourceJS" class="twitter-follow-button" data-show-count="false">Follow @sourceJS</a>
			        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		        </div>
		        <div class="source_header_i source_header_pro_gh_follow">
			        <iframe src="http://ghbtns.com/github-btn.html?user=sourcejs&repo=source&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
		        </div>
	        </div>

        </div>
    </div>

</header>